<!doctype html>
<html lang="en">

<body>
<p>
<br>#include "dht.h"
<br>#include "Servo.h"
<br>
<br>dht DHT;
<br>float temp,hum;
<br>#define echoPin 3 // attach pin D2 Arduino to pin Echo of HC-SR04
<br>#define trigPin 4 //attach pin D3 Arduino to pin Trig of HC-SR04
<br>long duration;
<br>float distance;
<br>char cmd;
<br>//char resetted = 'o';
<br>float pot;
<br>int hallSensorPin = 2;
<br>int hallDrivePin = 1;
<br>int buzzer = 8;
<br>Servo servo;
<br>Servo serv2;
<br>int potpin = A5;
<br>int mags = 0;
<br>#define DHT11_PIN 7
<br>void setup() {
<br>pinMode(trigPin, OUTPUT); // Sets the trigPin as an OUTPUT
<br>pinMode(echoPin, INPUT); // Sets the echoPin as an INPUT
<br>pinMode(buzzer, OUTPUT);
<br>pinMode(hallDrivePin, OUTPUT);
<br>pinMode(hallSensorPin, INPUT);
<br>// put your setup code here, to run once:
<br>Serial.begin(9600);
<br>servo.attach(5);
<br>servo.write(135);
<br>serv2.attach(9);
<br>serv2.write(135);
<br>
<br>}
<br>
<br>void loop() {
<br>if(Serial.available() > 0)
<br>{
<br>cmd = Serial.read();
<br>switch (cmd)
<br>{
<br>case 'r':
<br>readsensors();
<br>//serial.print(1,20,6,10);
<br>break;
<br>case 'l':
<br>servo.write(0);
<br>Serial.print("door locked\n");
<br>//resetted ='g';
<br>break;
<br>case 'o':
<br>servo.write(135);
<br>Serial.print("LIGHT_OFF\n");
<br>break;
<br>case 'b':
<br>digitalWrite(buzzer, HIGH);
<br>Serial.print("AHHHH\n");
<br>break;
<br>case 'q':
<br>digitalWrite(buzzer, LOW);
<br>Serial.print("AHHHH\n");
<br>break;
<br>case 'x':
<br>serv2.write(180);
<br>Serial.print("left\n");
<br>break;
<br>case 'y':
<br>serv2.write(0);
<br>Serial.print("right\n");
<br>break;
<br>default:
<br>Serial.print("Unknown Command use rlo\n");
<br>break;
<br>
<br>}
<br>//Serial.print(resetted);
<br>}
<br>
<br>
<br>}
<br>void readsensors(){
<br>// Clears the trigPin condition
<br>digitalWrite(hallDrivePin,LOW);
<br>delayMicroseconds(2);
<br>digitalWrite(hallDrivePin,HIGH);
<br>digitalWrite(trigPin, LOW);
<br>delayMicroseconds(2);
<br>// Sets the trigPin HIGH (ACTIVE) for 10 microseconds
<br>digitalWrite(trigPin, HIGH);
<br>delayMicroseconds(10);
<br>digitalWrite(trigPin, LOW);
<br>// Reads the echoPin, returns the sound wave travel time in microseconds<br>
<br>duration = pulseIn(echoPin, HIGH);
<br>// Calculating the distance
<br>distance = duration * 0.034 / 2; // Speed of sound wave divided by 2 (go and back)
<br>dht DHT;
<br>#define DHT11_PIN 7
<br>// Displays the distance on the Serial Monitor
<br>int test1 = DHT.read11(DHT11_PIN);
<br>temp = DHT.temperature;
<br>hum = DHT.humidity;
<br>digitalWrite(hallDrivePin,HIGH);
<br>mags = digitalRead(hallSensorPin);
<br>pot = analogRead(potpin)/1023.0;
<br>Serial.print(distance);
<br>Serial.print(",");
<br>Serial.print(temp);
<br>Serial.print(",");
<br>Serial.print(hum);
<br>Serial.print(",");
<br>Serial.print(mags);
<br>Serial.print(",");
<br>Serial.print(pot);
<br>Serial.print(digitalRead(buzzer));
<br>Serial.print("\n");
<br>Serial.flush();
<br>digitalWrite(hallDrivePin,LOW);
<br>delayMicroseconds(2);
<br>digitalWrite(hallDrivePin,HIGH);
<br>}
</p>
</body>
</html>