<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DASH</title>
        <!-- Bootstrap CSS -->
        <script src="/static/jquery/jquery.min.js"></script>
        <script src="/static/jquery/jquery.canvaswrapper.js"></script>
        <script src="/static/jquery/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="/static/jquery/jquery.colorhelpers.js"></script>
	<script language="javascript" type="text/javascript" src="/static/jquery/jquery.flot.saturated.js"></script>
	<script language="javascript" type="text/javascript" src="/static/jquery/jquery.flot.browser.js"></script>
	<script language="javascript" type="text/javascript" src="/static/jquery/jquery.flot.drawSeries.js"></script>
	<script language="javascript" type="text/javascript" src="/static/jquery/jquery.flot.uiConstants.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery/jquery.flot.time.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery/jquery.flot.axislabels.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/bstrap.css">
        <link rel="stylesheet" href="/static/css/dash.css">
	<script type="text/javascript">
        $(document).ready(function(){
            $("#messban").hide();
            $("#alarmmess").hide();
            rdata();//run at launch
            function rdata() {
                $.getJSON('data.json', function (data) {//repeating function to pull data from py script
                    //assign
                    $('#hm').text(data['humid'] + "%");
                    //$('#wlev').text(35)
                    grayLocks(data['door']);;
                    grayAlarm(data['astat'])
                    showwater(data['water level']);
                    showheat(data['temp']);
                    dstring(data['tor']);

                });
            }
            function dstring(tor){//creates a nice string for the last update and updates it
                var tUsed = new Date(1000*tor);
                var monarr = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
                mon = monarr[tUsed.getMonth()];
                day = tUsed.getDay();
                var upTime = "Last Updated: " + tUsed.getHours()+":"+tUsed.getMinutes()+ " " +mon + " " + day;
                $("#timeread").text(upTime);
            }
            function grayLocks(lbool){//clears color classes, then assigns based off of lock state
                $('#locked').removeClass("btn-secondary");
                $('#locked').removeClass("btn-success");
                $('#notlocked').removeClass("btn-secondary");
                $('#notlocked').removeClass("btn-success");
                $('#lstatus').removeClass("bg-info");
                $('#lstatus').removeClass("bg-danger");
                if (lbool == 0)
                {
                    $('#lstatus').text("Doors are Locked");
                    $('#lstatus').addClass("bg-info");
                    $('#locked').addClass("btn-success");
                    $('#notlocked').addClass("btn-secondary");
                }
                else{
                    $('#lstatus').text("Doors Unlocked!");
                    $('#lstatus').addClass("bg-danger");
                    $('#locked').addClass("btn-secondary");
                    $('#notlocked').addClass("btn-success");
                }
            }
            function grayAlarm(albool){//clears color classes, then assigns based off of alarm state
                $('#unArmed').removeClass("btn-secondary");
                $('#readyArmed').removeClass("btn-success");
                $('#readyArmed').removeClass("btn-secondary");
                $('#unArmed').removeClass("btn-success");
                if (albool == 0)
                {
                    $('#alarmstatus').text("Alarm Offline");
                    $('#alarmstatus').addClass("bg-secondary");
                    $('#unArmed').addClass("btn-success");
                    $('#readyArmed').addClass("btn-secondary");
                }
                else{
                    $('#alarmstatus').text("Alarm Armed");
                    $('#alarmstatus').addClass("bg-primary");
                    $('#unArmed').addClass("btn-secondary");
                    $('#readyArmed').addClass("btn-success");
                }
            }
            function showwater(gall){//function to change tank level bar as water changes
                var perc = (gall/40.0)*100;
                var heistr = "height:"+perc +"%";
                $('#wlev').text(gall + ' gallons');
                $('#watbar').attr('style',heistr);


            }
            function showheat(temp){//function to change thermlevel
                var heistr = "height:"+ temp +"%";
                $('#heatbar').attr('style',heistr);
                $('#howhot').text(temp + '°F');
                $('#heatbar').removeClass("bg-danger");
                $('#heatbar').removeClass("bg-info");
                $('#heatbar').removeClass("bg-success");
                if (temp > 80 ){
                    $('#heatbar').addClass("bg-danger");
                }
                else{
                    if (temp> 65){
                        $('#heatbar').addClass("bg-success");
                    }
                    else {
                        $('#heatbar').addClass("bg-info");
                    }
                }
            }
            setInterval(rdata,10000);//refresh rate for the data

            $('#locked').click(function (){//for unlocking doors, checks to see if already unlocked, otherwise sends command to do so
                if($(this).hasClass("btn-success"))
                {
                    $.getJSON('ligoff.json', function(ligoff) {//turns on lock and displays locking message
                        $("#messban").text("Doors Unlocking");
                        $("#messban").addClass('alert-primary');
                        $("#messban").show().delay(3000).fadeOut();
                        setTimeout(function(){$("#messban").removeClass("alert-primary");}, 3000);
                    });
                }
                else
                {
                    $("#messban").text("Doors Already Unlocked!");
                    $("#messban").addClass('alert-warning');
                    $("#messban").show().delay(3000).fadeOut();
                    setTimeout(function(){$("#messban").removeClass("alert-warning");}, 3000);
                }
            })
            $('#notlocked').click(function (){//checks to see if already locked, if not locks
                if($(this).hasClass("btn-success"))
                {
                    $.getJSON('ligon.json', function(ligon) {//turns on lock and displays locking message
                        $("#messban").text("Doors Locking");
                        $("#messban").addClass('alert-primary');
                        $("#messban").show().delay(3000).fadeOut();
                        setTimeout(function(){$("#messban").removeClass("alert-primary");}, 3000);
                    });
                }
                else
                {
                    $("#messban").text("Doors Already Locked!");
                    $("#messban").addClass('alert-warning');
                    $("#messban").show().delay(3000).fadeOut();
                    setTimeout(function(){$("#messban").removeClass("alert-warning");}, 3000);
                }
            })
        });
     </script>

 </head>
    <body>
 <div class="container">
     <div class="alert text-center font-weight-bold" role="alert" id="messban">
<!-- Empty div, hidden. used to display messages -->
     </div>
     <div class="alert alert-danger text-center font-weight-bold" role="alert" id="alarmmess">
<!-- Empty div, hidden. used to display messages -->
     </div>
     <div class="jumbotron text-center">
      <h1>KEWL DASH</h1>
      <p id="timeread">Updated: {{ rtime }}</p>

    </div>

    <hr class="my-5">

      <div class="col-lg-4" id="heathum"> <!-- temp/humsection -->
          <div class="row text-center">
              <div class ="card-title text-center">Temperature</div>
              <div class="card-body text-center">
                  <div class="col-lg-6">
                    <p id="howhot">{{degC}} C</p>
                  </div>
                  <div class="col-lg-6">
                    <div class="progress progress-bar-vertical">
                        <div id="heatbar" class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="height:70%">
                            <span class="sr-only">70%</span>
                        </div>
                    </div>
                </div> <!--button for showing temp graphs-->
              </div>
        </div>
          <div class="row">
              <div class ="card-title text-center">Humidity</div>
              <div class="card-body text-center">
                  <p id="hm" class="text-center">{{ humid }}%</p>
              </div>
          </div>
      </div>

        <div class="col-lg-4" id="keyring">
            <div class="row bg-warning text-center">
                <div class ="card-titl" id="lstatus">Door Locks</div>
                <div class="card-body">
                    <div class="col-lg-6">
                      <button type="button" class="btn" id="locked">Unlock Doors</button>
                    </div>
                    <div class="col-lg-6">
                        <button type="button" class="btn" id="notlocked">Lock Doors</button>
                    </div>
                </div>
            </div>
            <div class="row spacer">
                <div class="card-title" id="alarmstatus">Alarm</div>
                <div class="card-body">
                  <div class="col-lg-6">
                      <button type="button" class="btn" id="readyArmed">Disarm Alarm</button>
                  </div>
                    <div class="col-lg-6">
                        <button type="button" class="btn" id="unArmed">Arm Alarm</button>
                    </div>
                </div>
            </div>
        </div>

     <div class="col-lg-4 text-center"><!-- thermometer secion -->
            <div class="card-title text-center">Water Level</div>
            <div class="card-body text-center">
                <div class="col-lg-6">
                    <p id="wlev">{{ wlv }}</p>
                </div>
                <div class="col-lg-6">
                    <div class="progress progress-bar-vertical">
                        <div id="watbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="40" style="height:70%">
                            <span class="sr-only" id="watbar">70%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 </div>

    </body>
</html>