{% extends "basetimeline.jinja2" %}

{% block content %}

    <!-- Contents -->

    <div class="timeline">
        <div class="container left" id="toggle1">
            <div class="content">
                <h2>Step 1: Program Downloads</h2>
                <p> Get ready to download Python, Pycharm, Github Desktop and Arduino IDE</p>
                <div id="toggle_value1">
                    <p>Python 3 is available at python.org. For this project we used the 64-bit Windows version.
                        Pycharm is an IDE (Integrated Development Environment). There are other IDE's out there like Atom and Sublime
                        which can be used but if you want follow along this tutorial it would be best to use Pycharm.</p>
                    <p> Github Desktop assists with the project workflow. Being Part of a Team that is developing
                        code on the same file GitHub Desktop is crucial to our progress. Understand the workings of Github and it
                        will pay dividens later.</p>
                    <p>Arduino IDE is used to develop code in C. The Arduino IDE has so many example libraries
                        and example code. It truly is a beginners friend to learning C code.</p>
                    <p></p>
                    <p>Useful Links:</p>
                    <p class="nav-item"><a class="nav-link" href="https://www.python.org/">Python</a></p>
                    <p class="nav-item"><a class="nav-link" href="https://www.jetbrains.com/pycharm/">Pycharm IDE</a></p>
                    <p class="nav-item"><a class="nav-link" href="https://desktop.github.com/">Github Desktop</a></p>
                    <p class="nav-item"><a class="nav-link" href="https://www.arduino.cc/en/software">Arduino IDE</a></p>
                </div>
            </div>
        </div>
        <div class="container right" id="toggle2">
            <div class="content">
                <h2 id="toggle2">Step 2: Hardware</h2>
                <p> Getting hands on with the Arduino UNO and sensors</p>
                <div id="toggle_value2">
                    <p>The Arduino UNO is an often used microcontroller for hobbyist. It's well documented and easy to use.
                        There is almost an endless supply of resources on line. Which is great because this makes our lives easier!
                        Why reinvent the wheel if you don't have to?! For this project we used the UNO R3 Project Kit. The kit includes
                        the Arduino R3 micro controller and an assortment of sensors.</p>
                    <p>Sensors used in the kewl bus include the DHT11 humidity and temperature sensor and Ultrasonic Sensor (HC-SR04).
                        Also used is the Passive Buzzer and Servo Motor SG90. All are contained in the project kit.</p>
                    <p></p>
                    <p>Useful Links:</p>
                    <p class="nav-item"><a class="nav-link" href="https://www.amazon.com/EL-KIT-001-Project-Complete-Starter-Tutorial/dp/B01CZTLHGE/ref=asc_df_B01CZTLHGE/?tag=hyprod-20&linkCode=df0&hvadid=241907595991&hvpos=&hvnetw=g&hvrand=5259736415560937031&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9007937&hvtargid=pla-464156272733&psc=1">Arduino UNO R3 Starter Kit</a></p>
                </div>

            

            </div>
        </div>
        <div class="container left" id="toggle3">
            <div class="content">
                <h2>Step 3: Arduino Code</h2>
                <p> Becoming familiar with the Arduino.</p>
                <div id="toggle_value3">
                    <p> So it might be easier if I just supply you with code.</p>
                    <p></p>
                    <p>Useful Links:</p>
                    <p class="nav-item"><a class="nav-link" href="/arduino_code_static">Arduino Code</a></p>
                </div>

            </div>
        </div>
        <div class="container right" id="toggle4">
            <div class="content">
                <h2>Step 4: Serial Communications</h2>
                <p> Getting comfortable with the Web.</p>
                <div id="toggle_value4">
                    <p>I'm going to write something about serial communications and the handshake.</p>
                </div>
            </div>
        </div>
        <div class="container left" id="toggle5">
            <div class="content">
                <h2 id="toggle5">Step 5: Flask (Web Frame Work)</h2>
                <p> Breaking ground and starting web development</p>
                <div id="toggle_value5">
                    <p>Flask is a well documented web frame work available for Python. Why reinvent the wheel
                        am I right?</p>
                    <p></p>
                    <p>Useful Links:</p>
                    <p class="nav-item"><a class="nav-link" href="https://flask.palletsprojects.com/en/1.1.x/">Flask Documentation</a></p>
                </div>
            </div>
        </div>
        <div class="container right" id="toggle6">
            <div class="content">
                <h2 id="toggle6">Step 6: Learn JavaScript!</h2>
                <p> Jquery is a great place to start learning how to code JavaScript</p>
                <div id="toggle_value6">
                    <p>jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as
                        well as event handling, CSS animation, and Ajax. It is free, open-source software using the
                        permissive MIT License. </p>
                    <p></p>
                    <p>Useful Links:</p>
                    <p class="nav-item"><a class="nav-link" href="https://www.w3schools.com/jquery/default.asp">Jquery W3schools</a></p>
                </div>
            </div>
        </div>
        <div class="container left" id="toggle7">
            <div class="content">
                <h2>Step 7: Async with AIOHTTP</h2>
                <p> </p>
                <p id="toggle_value7">TOGGLE TO SHOW AND HIDE VALUE</p>
            </div>
        </div>
        <div class="container right" id="toggle8">
            <div class="content">
                <h2>Step 8: Deploying the Website</h2>
                <p> Taking the internet by storm. Prepare to deploy Website!</p>
                <p id="toggle_value8">While we had a script capable of running both the serial connections and
                the website, we were doing it off an academy laptop with no public ip address. Other mids could check out
                our site, the world at large couldn't, so we began hosting on an AWS server. However, the aws server has no connection to our
                serial ports or devices. So, any and all functions that required serial use were made to send a request to a specific port.
                When the amazon server goes to process these requests, it recognizes the port, and instead of executing them itself, has
                our midn laptop, connected to the arduino and ssh'd to the aws server execute the commands, and pass the response back. We run a
                api server on the mission network, and an actual hosting server on the public internet to allow you access to our site!</p>
            </div>
        </div>
    </div>




{% endblock %}