{% extends "basetimeline.jinja2" %}

{% block content %}

    <!-- Contents -->

    <div class="timeline">
        <div class="container left">
            <div class="content">
                <h2 id="toggle1">Step 1: Program Downloads</h2>
                <p> Get ready to download Python, Pycharm, Github Desktop and Arduino IDE</p>
                <div id="toggle_value1">
                    <p>Python 3 is available at python.org. For this project we used the 64-bit Windows version.
                        Pycharm is an IDE (Integrated Development Environment). There are other IDE's out there like Atom and Sublime
                        which can be used but if you want follow along this tutorial it would be best to use Pycharm.</p>
                    <p> Github Desktop assists with the project workflow. Being Part of a Team that is developing
                        code on the same file GitHub Desktop is crucial to our progress. Understand the workings of Github and it
                        will pay dividens later.</p>
                    <p>Arduino IDE is used to develop code in C. The Arduino IDE has so many example libraries
                        and example code. It truly is a beginners friend to learning C code.</p>
                    <p></p>
                    <p>Useful Links:</p>
                    <p class="nav-item"><a class="nav-link" href="https://www.python.org/">Python</a></p>
                    <p class="nav-item"><a class="nav-link" href="https://www.jetbrains.com/pycharm/">Pycharm IDE</a></p>
                    <p class="nav-item"><a class="nav-link" href="https://desktop.github.com/">Github Desktop</a></p>
                    <p class="nav-item"><a class="nav-link" href="https://www.arduino.cc/en/software">Arduino IDE</a></p>
                </div>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2 id="toggle2">Step 2: Hardware</h2>
                <p> Bigger and better things with Python.</p>
                <p id="toggle_value2">Download the latest version of Python from python.org. We used the IDE pycharm to
                    edit and create code but feel free to use any IDE you prefer. If you wish to follow along Pycharm is
                    a safe bet. Make sure to get the professional version. This should be of no cost as a student.  </p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <h2 id="toggle3">Step 3: Arduino Code</h2>
                <p> Becoming familiar with the Arduino.</p>
                <p id="toggle_value3">Before beginning make sure to download the the latest version of of the Arduino IDE.
                    Become familiar with the IDE by playing with the already supplied examples. Easy set-ups (and sensors we will be
                    using in the future) include the dht humidity and temperature sensor and the servo motor.</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2 id="toggle4">Step 4: Serial Communications</h2>
                <p> Getting comfortable with the Web.</p>
                <p>Understand Web Frame work with Flask.</p>
                <p id="toggle_value4">Flask is a well documented frame work available for Python. Why reinvent the wheel
                    am I right?</p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <h2 id="toggle5">Step 5: Flask (Web Frame Work)</h2>
                <p> Onward and upward with AIOHTTP. That's a mouthful.</p>
                <p id="toggle_value5">TOGGLE TO SHOW AND HIDE VALUE</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2 id="toggle6">Step 6: Learn JavaScript!</h2>
                <p> Don't forget DATA BASES and SQL!!</p>
                <p id="toggle_value6">TOGGLE TO SHOW AND HIDE VALUE</p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <h2 id="toggle7">Step 7: Async with AIOHTTP</h2>
                <p> Getting comfortable with API's</p>
                <p id="toggle_value7">TOGGLE TO SHOW AND HIDE VALUE</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2 id="toggle8">Step 8: Deploying the Website</h2>
                <p> Taking the internet by storm. Prepare to deploy Website!</p>
                <p id="toggle_value8">TOGGLE TO SHOW AND HIDE VALUE</p>
            </div>
        </div>
    </div>




{% endblock %}